- @idea = idea
.media
  %a.pull-left.no-link-styling{:href => idea_path(idea)}
    %img.media-object.img-circle{alt: @idea.author.name, src: @idea.author.photo_url, width: "60px"}/
    %h3
      =idea.followers_count
      %i.fa.fa-thumbs-o-up
    .media-body
      %h4.media-heading= @idea.title
      %p= @idea.description

      - if @idea.tags.any?
        %p
          - @idea.tags.each do |tag|
            %a.label.label-success{:href=> tagged_url(:tag => tag.name)}= tag.name

      - if !@idea.video_url.blank?
        %iframe{allowfullscreen: "", height: "220px;", width: "100%", src: "#{@idea.video_url}&showinfo=0&autohide=1", :frameborder => 0}

      %small= "-#{@idea.author.name}"
