

%ol.breadcrumb
  - if @condition
    %li
      %a{:href=>by_condition_path} All Ideas
    %li.active
      = truncate(@condition)
  - else
    %li
      %a{:href=>ideas_path} All Ideas
    %li.active
      %a{:href=>by_condition_path} Choose a Condition...


- if !@ideas.any?
  %hr/
  .text-center
    %h3
      There are no research ideas posted about
      %strong= @condition
      %u yet.
    %p Do you have a good idea? You should post the first. The people above will see it in the feeds.
    %a.btn.btn-primary{:href => new_user_registration_path} Join to Submit Your Idea!


  %hr/
- else
  - @ideas.each do |idea|
    = render idea
    %hr/





%br/

.row
  .col-md-12
    %a.btn.btn-primary.btn-block{:href => new_idea_path} I Want to Submit My Idea!
    %br/
    .text-center
      %small Patients, Researchers, and Stakeholders can all submit ideas. The fun isn't just for patients!
%br/

%br/


.well.well-sm
  .text-center
    .text-h4 People who Care about
    = @condition if @condition
    = "All Conditions" if !@condition
  = render "/users/role_nav"





/ - if @condition == "Sleep Apnea"
/   .alert.alert-info
/     .text-center
/       %small Whoa! There's an existing Patient Network for You!
/       %br/
/       %a{:href => "http://myapnea.org"} The MyApnea Patient Network
/ - if @condition == "Crohn's Disease"
/   .alert.alert-info
/     .text-center
/       %small Whoa! There's an existing Patient Network for You!
/       %br/
/       %a{:href => "http://ccfa.openpprn.org"} The Crohn's Patient Network
