- @condition = @idea.tag_list.first

%ol.breadcrumb
  %li
    %a{:href=>by_condition_path} All Ideas
  %li
    %a{:href=>tagged_path(tag: @condition)}= @condition
  %li.active
    Idea


/ .row
/   .col-md-12.text-center
/     %i.fa.fa-lightbulb-o.text-h1
/     %span.text-h2 Idea







.row
  .col-md-12
    = render @idea



%hr/
%a.no-link-styling{:href => following_idea_path, :idea => @idea}
  .well
    .row
      .col-md-12.text-center
        %h4 People Who Want To Help

    .row.text-center
      .col-xs-4
        %h3= @idea.followers_count_by_role(:patient)
        Patients
      .col-xs-4
        %h3= @idea.followers_count_by_role(:researcher)
        Researchers
      .col-xs-4
        %h3= @idea.followers_count_by_role(:stakeholder)
        Stakeholders

    %br/
    .row
      .col-md-12
        - if current_user && current_user.following?(@idea)
          .text-h5.text-center
            %i.fa.fa-thumbs-o-up
            You're following this research. Help build momentum on it to make it a reality.
            %br/
            %br/
            .small
              Interested researchers can now email you if they want to do a study.
              Use the comment stream below to build connections and work with researchers, patients, and others to collaborate on a study design.
              Share this page on Twitter and Facebook to get more momentum!
              %br/
              %br/
              %a{:href => stop_following_idea_path(id: @idea.id)} I'm no longer interested.


          - if current_user && current_user.has_role?(:researcher)
            %hr/
            .text-center.small
              %em Researchers Only:
              %br/
              %a.btn.btn-danger.btn-block{:href => "mailto:supporters.of.idea.#{@idea.id}@patientpowered.us"}
                %i.fa.fa-envelope
                Email the Supporters
              %br/
              .small
                Because you are a Researcher, you can email the supporters to share study design and longer-form information.



        - elsif !current_user
          %a.btn.btn-primary.btn-block{:href => follow_idea_path(id: @idea.id)}
            %i.fa.fa-thumbs-o-up
            Join to Support This Idea
        - else
          %a.btn.btn-primary.btn-block{:href => follow_idea_path(id: @idea.id)}
            %i.fa.fa-thumbs-o-up
            I Want to Know How to Help!
          %br/
          %small Click here to let other people know this idea interests you, and if a study develops, you'd want to know about it.


%hr/


%h4.text-center Share this Research Idea with the World!
.row
  .col-xs-4
    %a.btn.btn-primary.btn-block{:href => "http://www.facebook.com/sharer/sharer.php?u=#{idea_url(@idea)}", :target => "_blank"}
      %i.fa.fa-facebook
      Facebook
  .col-xs-4
    %a.btn.btn-info.btn-block{:href => "https://twitter.com/share?url=#{idea_url(@idea)}", :target => "_blank"}
      %i.fa.fa-twitter
      Twitter
  .col-xs-4
    %a.btn.btn-warning.btn-block{:href => "mailto:?subject=Cool%20Research%20Idea&body=Check%20out%20this%20patient-centered%20research%20idea!%20%20#{idea_url(@idea)}"}
      %i.fa.fa-envelope
      Email


/ .row
/   .col-md-12
/     %h3.text-center
/       %i.fa.fa-graduation-cap.text-h2
/       Studies Proposed


%hr/

- @comments = @idea.comments

.panel.panel-default


  .panel-heading
    %h3.panel-title.pull-left Comments
    .badge.pull-right= @comments.count
    .clearfix
  - if @comments.any?
    .panel-body
      - @comments.each do |comment|
        .media
          %a.pull-left
            %img.media-object.img-circle{alt: comment.user.name, src: comment.user.photo_url, width: "60px"}/
          .media-body
            %h4.media-heading
            %small= comment.user.name
            %br/
            = comment.comment

  .panel-footer
    - if current_user
      = form_tag "/ideas/add_new_comment" do
        = hidden_field_tag "id", @idea.id
        .form-group
          = text_area_tag "comment[comment]", nil, :class => "form-control", :placeholder => "Type comment..."
        .form-group
          = submit_tag "Post Comment", :class => "form-control"
    - else
      %a.btn.btn-default.btn-block{:href => new_user_registration_path} Join to Comment!





- if current_user && current_user == @idea.author
  .row
    .col-md-12
      %a.btn.btn-warning.btn-block{:href => edit_idea_path(@idea)} This is Your Idea. Edit it.
