

.text-center
  %a{:href => "javascript:history.go(-1)"} Back

.row.text-center
  .col-xs-12
    %h3 Are you ready to join?
    %p Everyone who cares about patient health is welcome here.


.row
  .col-xs-12
    .well.well-sm.text-center
      = image_tag "roles/patient.png"
      %h2 Patient
      %small Patient, Family Member of Patient, or Caregiver

.row
  .col-xs-12
    .well.well-sm.text-center
      = image_tag "roles/researcher.png"
      %h2 Researcher
      %small Academic, Physician

.row
  .col-xs-12
    .well.well-sm.text-center
      = image_tag "roles/stakeholder.png"
      %h2 Stakeholder
      %small Healthcare Professional, Industry, Device Mfr.


.row.text-center
  .col-xs-12
    %h3 This is the place we come together with our powers combined!

%br/

.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        .panel-title Join
      .panel-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f|
          = devise_error_messages!
          .form-group
            = f.label :email, :class => "control-label col-sm-5"
            .col-sm-7
              = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"
          .form-group
            = f.label :password, :class => "control-label col-sm-5"
            .col-sm-7
              = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
          .form-group
            = f.label :password_confirmation, "Password Confirm", :class => "control-label col-sm-5"
            .col-sm-7
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation"


          .form-group
            .col-sm-offset-5.col-sm-7
              = f.submit "Sign up", :class => "btn btn-primary"

    %p.text-center
      Already a Member?
      %a{:href => new_user_session_path} Sign in.

    %br/
    .small.text-center
      %small Disclaimer: This network is awesome, but please know your participation is voluntary. Disclosing personal medical information is your choice and responsibility.



