.text-center
  %h2 Welcome!
  %p Alright, so tell us a little about yourself!

.row
  .col-md-6.col-md-offset-3
    .panel.panel-default

      .panel-body
        = form_for current_user, html: {role: "form", class: 'form-horizontal form-with-tagsinput'} do |f|
          .form-group
            = f.label :full_name, "Your Name", :class => "control-label col-sm-5"
            .col-sm-7
              = f.text_field :full_name, autofocus: true, class: "form-control", placeholder: "As you want others to see!"
          %br/
          = f.label :tags, "Tag yourself with the Conditions You Care About"

          = f.text_field :tag_list, :class => "form-control", :id => "tagsinput", :style => "width: 300px;"

          %br/
          %br/
          .text-center
            %h4 What Role(s) Are You?
            %small You can be more than one!
          %fieldset.text-center

            - [:patient,:researcher,:stakeholder].each do |role|
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              = f.label(role) do
                = hidden_field_tag(role, 0)
                = check_box_tag(role, 1, @user.has_role?(role))
                = role.capitalize

          %br/

          .form-group
            = f.label :affiliation, "Organization", :class => "control-label col-sm-5"
            .col-sm-7
              = f.text_field :affiliation, class: "form-control", placeholder: "(Optional)"

          .form-group
            = f.label :location, "Location", :class => "control-label col-sm-5"
            .col-sm-7
              = f.text_field :location, class: "form-control", placeholder: "City, State, Country"

          .form-group
            .col-sm-offset-5.col-sm-7
              = f.submit "Save", :class => "btn btn-primary btn-block"


