.row
  = image_tag "globe.png", :class => "col-xs-12"




%h3 Patient Powered Research

%p
  Patients are experts in the experience of their own condition. These experts should drive the research. This website is a non-profit, crowd-sourced collaboration that enables patients to work directly with patient-centered researchers in the field to craft new studies involving direct patient participation.



= render "/users/role_nav"




%h3 Research Ideas
.row
  .col-md-12
    .list-group
      - if current_user && current_user.tags.any?
        - tags = current_user.tags
      - else
        - tags = User.find(1).tags

      - tags.each do |tag|
        %a.list-group-item.list-group-item-success{:href=> tagged_url(:tag => tag.name)}
          = tag.name
          .badge= tag.count



      %a.list-group-item.list-group-item-info{:href=> by_condition_path}
        Browse Ideas in all Conditions...
      - if !current_user
        Sign in to see your tag list



/ .row
/   .col-md-12
/     .list-group
/       %a.list-group-item{:href=> users_path(role: :patient)}
/         Patients
/         .badge= @patient_count
/       %a.list-group-item{:href=> users_path(role: :researcher)}
/         Researchers
/         .badge= @researcher_count
/       %a.list-group-item{:href=> users_path(role: :stakeholder)}
/         Stakeholders
/         .badge= @stakeholder_count
/       %a.list-group-item.list-group-item-info{:href=> users_by_condition_path}
/         By Condition


/ .input-group
/   %span.input-group-addon
/     %i.fa.fa-search
/   %input.form-control{type: "text"}/
/   %span.input-group-btn
/     %button.btn.btn-default{type: "button"} Search!

/ %br/





%h3.text-center
  %i.fa.fa-lightbulb-o.text-h2
  Popular Ideas

%ul.list-group
  - Idea.all.sort_by(&:followers_count).last(4).reverse.each do |idea|
    %li.list-group-item
      = render idea

%br/

%a.btn.btn-primary.btn-block{:href => ideas_path}
  See All Ideas...
  %i.fa.fa-chevron-right



/ %br/
/ .well.well-sm
/   .text-center
/     %h3
/       How Does It Work?

/   %br/

/   .row
/     .col-xs-12.text-center
/       %i.fa.fa-lightbulb-o.text-h1.text-blue
/       .text-h4 You Submit a Research Idea
/       .text-darkgray.small Your personal experience tells you something should be studied.

/   %br/
/   .row
/     .col-xs-12.text-center
/       %i.fa.fa-chevron-down.text-h2.text-gray
/   %br/

/   .row
/     .col-xs-12.text-center
/       %i.fa.fa-thumbs-o-up.text-h1.text-blue
/       .text-h4 People Follow & Contribute
/       .text-darkgray.small Patients, Researchers, & Medical Professionals show interest & support for your idea being rigorously studied.


/   %br/
/   .row
/     .col-xs-12.text-center
/       %i.fa.fa-chevron-down.text-h2.text-gray
/   %br/

/   .row
/     .col-xs-12.text-center
/       %i.fa.fa-graduation-cap.text-h1.text-blue
/       .text-h4 Researchers Turn Your Idea into a Study
/       .text-darkgray.small Researchers spot well-supported ideas and create a rigorous scientific study to answer it. They post what participation of patients and resources they need to make it a reality. People pitch in participation to make it happen.


/   %br/



/ %h3.text-center
/   %i.fa.fa-graduation-cap.text-h2
/   Popular Studies


/ = render "study_item"
/ %hr/
/ = render "study_item"

/ %br/

/ %a.btn.btn-primary.btn-block{:href => study_index_path}
/   See All Studies...
/   %i.fa.fa-chevron-right

