.navbar.navbar-fixed-top.navbar-default{role: "navigation"}
  .navbar-header

    .navbar-brand{:style => "position: absolute; right: 100px;"}
      %a{:href => root_path} Patient Powered

    %a.btn.btn-default.navbar-btn{:href => "javascript:history.back()", :style => "margin-left: 15px;"}
      %i.fa.fa-arrow-left


    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Popular Studies", study_index_path
      %li
        = link_to "Ideas", idea_index_path
      %li
        = link_to "Overview", overview_path
      %li
        = link_to "Successfully Matched", study_index_path
      - if current_user
        %li
          = link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, main_app.destroy_user_session_path, :method => :delete
      - else
        %li
          %a{:href => new_user_session_path}
            %i.fa.fa-sign-in
              Sign In









    / -# Sign-in Section
    / %ul.nav.navbar-nav.pull-right
    /   - if current_user
    /     %li.dropdown
    /       %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    /         My Settings
    /         %b.caret
    /       %ul.dropdown-menu
    /         %li
    /           %a{href: "/account"}
    /             %i.fa.fa-user &nbsp; Account Settings
    /         - if current_user.can?(:view_admin_dashboard)
    /           %li
    /             %a{href: "/admin", :title => "Admin Panel"}
    /               %i.fa.fa-wrench &nbsp; Admin Panel
    /         %li
    /           = link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, main_app.destroy_user_session_path, :method => :delete
    /   - else
    /     %li
    /       %a{:href => new_user_session_path}
    /         %i.fa.fa-sign-in
    /           Sign In